torch
transformers
datasets
numpy
pandas
pyMuPDF
pillow
ultralytics
supervision
opencv-python
scikit-learn
mistralai 
pydantic 
dotenv
streamlit
groq
langchain 
langchain-community 
langchain-core
sentence-transformers
azure-ai-inference
pypdf
openai
langchain